<html>
<head>
  <title>User Registration System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body>
   <div class="container">
    <h2 id="registerStudent">Register New Student</h2>
    <h2 hidden id="updateStudent">Update Student</h2>
    <form id="actionForm"name="actionForm"method="POST" action="/add">
      <div class="col-xs-4">
        ID:
        <input  onkeypress="return isNumber(event)" class="form-control" type="text" name="id">
      </div>
      <div class="col-xs-4">
        Name
        <input  class="form-control" type="text" name="uname">
      </div>
      <div class="col-xs-4">
        Surname
        <input  class="form-control" type="text" name="usurname">
      </div>
      <div class="col-xs-4">
        Email
        <input  class="form-control" type="text" name="umail">
      </div>
      <div class="col-xs-4">
        RFID
        <input  onkeypress="return isNumber(event)" class="form-control" type="text" name="urfid">
      </div>
   </br></br></br></br></br></br>
      <center><input id="add-emp"class="btn btn-primary" type="submit" value="Register">
       <input style="display:none" id="update-student" class="btn btn-primary" type="submit" value="Update">
      </center>
    </form>
    <h2>List of Registered Student</h2>
    <table class="table">
     <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Mail</th>
      <th>RFID</th>
    </tr>
  </thead>
  <tbody>
{% for item in datas %}
<tr>
    <td>{{ item.id}}</td>
    <td>{{ item.name}}</td>
    <td>{{ item.surname}}</td>
    <td>{{ item.mail}}</td>
    <td>{{ item.rfid}}</td>
    <td><input class="btn btn-warning" type="submit" value="Edit" 
     onclick="update('{{ item.id}}','{{ item.name}}','{{ item.surname}}','{{ item.mail}}','{{ item.rfid}}')"></td>
    <td> <form method="POST" action="/deleteStudent">
        <input type="text" hidden value="{{item.id}}" name="id"> 
     <input  class="btn btn-danger" type="submit" value="Delete"></form></td>
</tr>
{% endfor %}
</tbody>
</table>
</div></div>
  </body>
  <script>
   function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
function update(id,name,surname,mail,rfid) {
   document.getElementById("add-emp").style.display = "none"
   document.getElementById("registerStudent").style.display = "none"
   document.getElementById("update-student").style.display = "block"
   document.getElementById("updateStudent").style.display = "block"
   document.getElementsByName('id')[0].value = id;
   document.getElementsByName('uname')[0].value = name;
   document.getElementsByName('usurname')[0].value = surname;
   document.getElementsByName('umail')[0].value = mail;
   document.getElementsByName('urfid')[0].value = rfid;
   document.getElementById('actionForm').action = "/studentUpdate";
}
  </script>
</html>